.post-teaser {
  border: 1px solid #3C1518;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.post-teaser p {
  margin: 0;
  width: auto;
  flex: none;
  font-size: 12px;
  color: rgb(138, 138, 138);
}


.post-teaser a {
  text-decoration: none;
  color: black;
}

.post-details {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 5px;
}

.post-details p {
  display: flex;
  align-items: center;
  gap: 5px;
}


.title-content {
  display: flex;
  flex-direction: column;
}

.title-content h3,
.title-content p {
  margin-bottom: 12px;
}

.title-content p {
  width: 43ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-details {
  display: flex;
  margin-bottom: 16px;
}

.user-details img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid rgb(188, 188, 188);
  margin-right: 12px;
}

.user-details p {
  color: #b0b0b0
}