nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-nav {
  display: flex;
  width: 130px;
  justify-content: space-around;
  align-items: center;
}


.right-nav img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 2px solid rgb(188, 188, 188);
}

.left-nav {
  width: 130px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.left-nav img {
  width: 150px;    
  height: 150px;
  object-fit: cover;
  display: block;
} */