.post-form {
  display: flex;
  flex-direction: column;
}

.post-form textarea {
  margin-bottom: 15px;
}

.post-form .custom-label {
  margin-bottom: 8px;
  margin-top: 10px;
}

.post-form input {
  height: 56px;
  padding: 5px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}

.css-1vvwkv3-MuiFormControl-root {
  margin: 0 !important;
}


.post-form textarea {
  padding: 8px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow: auto;
}


.post-form button {
  height: 40px;
  width: 300px;
  background-color: #69140e;
  color: white;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form.post-form button:hover {
  background-color: #d58936;
  cursor: pointer;
}