.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.local-community {
  border: 1px solid #f08c00;
  background-color: #ffaa22;
  border-radius: 5px;
  width: 160px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}