.dropdowns {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.location-bar {
  padding: 0 0px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #5c6d70;
}

.location-bar svg {
  width: 14px;
  height: 14px;
  fill: #5c6d70;
}