.comment-form {
  display: flex;
  flex-direction: column;
}

.user-details {
  display: flex;
  margin-bottom: 16px;
}

.user-details img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid rgb(188, 188, 188);
  margin-right: 12px;
}

.user-details p {
  color: #b0b0b0
}